body {
    background: #36393f;

    font-family: 'Fira Sans', sans-serif;
}

.jumbotron {
    background: #2f3136; /* full bg color*/
}

h1 {
    color: white;
}

h2, p {
    color: #b9bbbe; /*white grayish color*/
}

a {
    color: hsl(197,100%,47.8%); /*light blue*/
}

button, a.btn {
    color: white !important;
    background-color: hsl(235,85.6%,64.7%) !important; /*blurple*/
    border: none !important;
    box-shadow: none !important;

    transition: background-color .17s ease;
}

button:hover, a.btn:hover {
    background-color: hsl(235,51.4%,52.4%) !important; /*darker blurple*/
}

button:active, a.btn:active {
    background-color: hsl(235,46.7%,44.1%) !important; /*even darker blurple*/
}

label {
    color: #8e9297; /*gray*/
}

label.radio {
    position: relative;
    display: block;
    padding: 10px;

    border-radius: 4px;
    background-color: #2f3136; /*light black, charcoal*/
    color: #b9bbbe; /*light gray, dark cloud*/

    margin-bottom: 8px;

    cursor: pointer;
}

label.radio:hover {
    background-color: rgba(79,84,92,0.16); /*dark gray but almost transparent*/
    color: #dcddde; /*light white*/
}

label.radio.checked {
    background-color: #202225; /*basically black*/
    color: #ffffff; /*white*/
}

label.radio > span:not(.checkmark) {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    margin-left: 32px;
}

label.radio > input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

label.radio > .checkmark {
    position: absolute;
    top: 12px;
    left: 12px;
    height: 20px;
    width: 20px;
    padding: 3px;

    border-radius: 50%;
    border-width: 2px;
    border-color: #b9bbbe; /*dark white/gray*/
    border-style: solid;
}

label.radio:hover > .checkmark {
    border-color: #dcddde; /*almost white*/
}

label.radio.checked > .checkmark {
    border-color: #ffffff; /*white*/
}

label.radio > .checkmark > span {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

label.radio.checked > .checkmark > span {
    background-color: hsl(235,86.1%,77.5%); /*bluish purple but not blurple*/
}

select {
    background-color: #2f3136 !important; /*charcoal*/

    border: 1px solid #202225 !important; /*basically black*/
    cursor: pointer !important;
    color: #dcddde !important; /*almost white*/
    border-radius: 4px !important;
    font-weight: 500 !important;

    outline: none !important;
    box-shadow: none !important;
}

select:invalid {
    color: #72767d !important; /*slightly dark gray*/
}

option {
    color: #b9bbbe; /*dakr cloud white*/
}

textarea {
    color: #dcddde !important; /*more cloud white*/

    background: rgba(0, 0, 0, 0.1) !important; /*basically transparent*/
    border: 1px solid rgba(0, 0, 0, 0.3) !important; /*basically transparent*/

    outline: none !important;
    box-shadow: none !important;

    transition: border-color .2s ease-in-out;
    resize: none;

    overflow-y: hidden;
}

textarea:hover {
    border-color: #040405 !important;
}

textarea:focus {
    border-color: hsl(197,100%,47.8%) !important; /*light blue*/
}

.textInput {
    position: relative;
}

.remainingLength {
    position: absolute;
    bottom: 12px;
    right: 14px;
    font-size: 12px;
    font-family: monospace;
    pointer-events: none;
    color: #72767d; /*darkish gray*/
}

.lowOnSpace {
    color: #f36c6c; /*red*/
}

#username {
    color: white;
}
